<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= planet.name %> | Star Wars</title>
</head>
<body>
<div class="container">
    <a href="/">Все планеты</a>
    <div class="planet-header">
        <h1><%= planet.name %></h1>
        <p>Climate: <%= planet.climate %></p>
        <p>Population: <%= planet.population %></p>
    </div>
</div>
</body>
</html>