<!DOCTYPE html>
<html>
<head>
    <title>Персонажи с планеты <%= planet.name %></title>
</head>
<body>
<h1>Персонажи с планеты <%= planet.name %></h1>

<% if (characters.length > 0) { %>
    <ul>
        <% characters.forEach(function(character, index) { %>
            <li><%= index + 1 %>. <%= character.name %></li>
        <% }); %>
    </ul>
<% } else { %>
    <p>Нет персонажей, связанных с этой планетой.</p>
<% } %>

<a href="/">← Назад к списку планет</a>
</body>
</html>
